*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:url('https://images.unsplash.com/photo-1666771119427-7e53e41c594f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
    background-size:cover;
    background-repeat: no-repeat;
}

section{
    display: flex;
    justify-content: center;
}
.registration-box h1 {
    text-align: center;
    margin-top: 10%;
}
.registration-box{
    background-color: white;
    border-radius: 50px;
    margin-top: 40px;
}
.text-field{
    align-items: center;
    text-align: center;
    margin-top: 5%;
    height: fit-content;
    width: 700px;
    flex-wrap: wrap;
    justify-content: center;
}
.text-field input {
  width: 50%;
  height:30px;
  margin-top:px;
}
.Skill-Section{
    width: 350px;
    height: 30px;
}
.text-field label{
    font-size: 20px;
}
.gender input{
    width: 20%;
}
.btn-1{
    width: 200px;
    height: 50px;
}
.login-btn{
    color: black;
    font-size: 20px;
    margin: 20px;
}