*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: bisque;
    text-shadow: 2px 2px 2px #000;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-1{
background-image: url('../DAY4/image/img2.jpeg');
width: 100%;
height: 100vh;
}